body {
  background: #c475f6;
  font-family: 'Roboto', sans-serif;
  transition: background 0.5s;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: white;
  margin-left: 65px;
  font-size: 40px;
}

.company-buttons {
  margin-left: 70px;
}

#companies-div {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

a {
  margin: 12px;
  padding: 10px 15px;
  text-decoration: none;
  /* background-color: white; */
  /* color: #c475f6; */
  color: white;
  border-radius: 5px;
}

a:hover {
  border: 1px solid white;
}

ul {
  margin-top: 40px;
}

.chart-container {
  margin-top: 30px;
  height: 700px;
  width: 100px;
}

#chart-container {
  display: flex;
}

#canvas {
  display: block !important;
  width: 750px !important;
  height: 543px !important;
  padding-top: 30px;
  margin: auto;
}

#chart {
  display: block !important;
  width: 750px !important;
  height: 543px !important;
  padding-top: 30px;
  margin: auto;
}

